@{
    ViewData["Title"] = "Producto";
    ViewBag.PageTitle = "Producto List";
}



@{await Html.RenderPartialAsync("_PageHeader");}




<div class="row">
	
    <div class="col-12">
        <div class="card">
            <div class="card-body">
				<a asp-action="Create" class="btn btn-success pull-right">Add new product</a>
                <div class="table-responsive m-t-40">			
                    <table id="tableProduct" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
								<th></th>
                                <th>Sku</th>
                                <th>Description</th>
                                <th>Quantity Stock</th>
                                <th>Final Price</th>
								<th>Regular Price</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@{await Html.RenderPartialAsync("_PageFooter");}

@section Styles {
    <style></style>
}

@section Scripts {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="~/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="~/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="~/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
	<script src="~/lib/bootbox/bootbox.min.js"></script>

    <script src="~/js/View/Product/list.js"></script>
	<script src="~/js/View/Product/edit.js"></script>


}


<div class="modal" tabindex="-1"  id="confirmDeleteDialog" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
        <button type="button" id="confirmDelete" class="btn btn-danger"><i class="fa fa-check"></i>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1"  id="erroDialog" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="pTextError"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>